<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>


  <connectionStrings>

    <add connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\vsprojects\csis265final\csis265final\App_Data\csis265final.mdf;Integrated Security=True"
          name="localhost"/>

  </connectionStrings>


</configuration>