<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>

    <add name="localhost" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\vsprojects\csis265final\csis265final\App_Data\csis265final.mdf;Integrated Security=True" />

  </connectionStrings>
  
</configuration>